body {
  color: white;
  font-family: Verdana;
  text-align: center;
  background-color: rgb(44, 47, 51)
}
.header {
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  text-align:left
}
.welcome {
  background-image: url('background.png');
  text-align: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
}
.tab {
  margin-left: 2em;
  display: inline-block;
  margin-right: 2em;
}
.tab:hover {
  cursor: pointer;
}
.SocialMedia {
  text-align: center;
  align-items: center;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.SocialMedia:hover {
  cursor: pointer;
}
