body {
  position: relative;
  background-image: url('background.png');
  color: white;
  font-family: Verdana;
}
.header {
  margin-left: 2em;
}
.tab {
  display: inline-block;
  margin-right: 2em;
  background-color: rgba(255, 255, 255, 0.1);
}
.tab:hover {
  cursor: pointer;
}
